# Group 1- Google Play App Store Data Analysis

## Download the data from S3

In [1]:
!wget https://gwu-mileypiao888.s3.amazonaws.com/Google_Playstore.csv

--2019-12-02 00:23:13--  https://gwu-mileypiao888.s3.amazonaws.com/Google_Playstore.csv
Resolving gwu-mileypiao888.s3.amazonaws.com (gwu-mileypiao888.s3.amazonaws.com)... 52.216.170.227
Connecting to gwu-mileypiao888.s3.amazonaws.com (gwu-mileypiao888.s3.amazonaws.com)|52.216.170.227|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31416840 (30M) [text/csv]
Saving to: ‘Google_Playstore.csv’

Google_Playstore.cs 100%[===================>]  29.96M  52.7MB/s    in 0.6s

2019-12-02 00:23:14 (52.7 MB/s) - ‘Google_Playstore.csv’ saved [31416840/31416840]

In [1]:
!pip freeze | grep -E 'ipython-sql|psycopg2'

You are using pip version 18.0, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
ipython-sql==0.3.9
psycopg2==2.7.5
psycopg2-binary==2.7.5

In [3]:
!dropdb -U student Group1

dropdb: database removal failed: ERROR:  database "Group1" is being accessed by other users
DETAIL:  There is 1 other session using the database.

In [4]:
!createdb -U student Group1

createdb: database creation failed: ERROR:  database "Group1" already exists

In [2]:
%load_ext sql

In [3]:
%sql postgresql://student@/Group1

'Connected: student@Group1'

## Create original table

Original table is used to create fact and dimension tables.

In [4]:
%%sql
DROP TABLE IF EXISTS Google_Playstore Cascade;

CREATE TABLE Google_Playstore (
APP_ID NUMERIC(10) NOT NULL,
APP_NAME VARCHAR(100),
CATE_NAME VARCHAR(50),
RATING NUMERIC(3,2),
REVIEW NUMERIC(25),
INSTALL NUMERIC(10),
SIZE_NUMBER NUMERIC(10,2),
SIZE_MAGNITUDE VARCHAR(10),
FULL_SIZE VARCHAR(10), 
PRICE NUMERIC(10,2),
CONTENT_RATING VARCHAR(25),
LAST_UPDATE_DAY VARCHAR(3),
LAST_UPDATE_MONTH VARCHAR(25),
LAST_UPDATE_YEAR VARCHAR(4),
FULL_DATE VARCHAR(15),
MIN_VERSION VARCHAR(25),
LATEST_VERSION VARCHAR(100),
    
    PRIMARY KEY(APP_ID),
    UNIQUE (APP_ID)
);

 * postgresql://student@/Group1
Done.
Done.

[]

In [5]:
%%sql
COPY Google_Playstore FROM '/home/ubuntu/Google_Playstore.csv' DELIMITER ',';

 * postgresql://student@/Group1
266994 rows affected.

[]

## Facts and Dimensions

### We divided the original dataset 6 dimensions: Price, Category, Install,Size, Day and Evaluation; 1 fact: App.
- As in each dimention, there is no coloumn containing unique values as a natural key, thus we manually created surrogate keys.

In [6]:
from IPython.display import Image

In [7]:
Image(url="https://gwu-mileypiao888.s3.amazonaws.com/Facts.jpeg")

## Create Price Table

Price table contains information about price of apps and whether they are paid ones or free ones.

In [8]:
%%sql
DROP TABLE IF EXISTS price CASCADE;

CREATE TABLE price (
    key SERIAL PRIMARY KEY,
    price_number NUMERIC(5,2),
    is_paid NUMERIC(1,0) DEFAULT 0
);

 * postgresql://student@/Group1
Done.
Done.

[]

In [9]:
%%sql
INSERT INTO price (price_number)
SELECT price
FROM Google_Playstore;

 * postgresql://student@/Group1
266994 rows affected.

[]

In [10]:
%%sql
UPDATE price
SET is_paid = 1
where price_number > 0;

 * postgresql://student@/Group1
11604 rows affected.

[]

In [11]:
%%sql
select * from price 
order by key
limit 10;

 * postgresql://student@/Group1
10 rows affected.

[(1, Decimal('0.00'), Decimal('0')),
 (2, Decimal('0.00'), Decimal('0')),
 (3, Decimal('0.00'), Decimal('0')),
 (4, Decimal('0.00'), Decimal('0')),
 (5, Decimal('5.99'), Decimal('1')),
 (6, Decimal('0.00'), Decimal('0')),
 (7, Decimal('0.00'), Decimal('0')),
 (8, Decimal('0.00'), Decimal('0')),
 (9, Decimal('0.00'), Decimal('0')),
 (10, Decimal('0.00'), Decimal('0'))]

## Create Size Table

Size table is about size information of apps.

In [12]:
%%sql
DROP TABLE IF EXISTS size CASCADE;

CREATE TABLE size (
    key SERIAL PRIMARY KEY,
    full_size VARCHAR(10),
    size_magnitude VARCHAR(2),
    size_number NUMERIC(10,2) DEFAULT 0
);

 * postgresql://student@/Group1
Done.
Done.

[]

In [13]:
%%sql
INSERT INTO size (full_size,size_magnitude,size_number)
SELECT full_size,size_magnitude,size_number
FROM Google_Playstore;

 * postgresql://student@/Group1
266994 rows affected.

[]

In [14]:
%%sql
SELECT * FROM size
Limit 10;

 * postgresql://student@/Group1
10 rows affected.

[(1, '0M', 'M', Decimal('0.00')),
 (2, '0M', 'M', Decimal('0.00')),
 (3, '1.4M', 'M', Decimal('1.40')),
 (4, '16M', 'M', Decimal('16.00')),
 (5, '0M', 'M', Decimal('0.00')),
 (6, '23M', 'M', Decimal('23.00')),
 (7, '0M', 'M', Decimal('0.00')),
 (8, '0M', 'M', Decimal('0.00')),
 (9, '4.1M', 'M', Decimal('4.10')),
 (10, '0M', 'M', Decimal('0.00'))]

## Create Evaluation Table

We create Evaluation table to document the rating and review of apps. In order to create the last two columns,rating_is_top1percent_by_cate and review_is_top1percent_by_cate, we use seven temporary tables.

The temp table stores key, category_name, rating_rule, rating_number and review_number. The last two columns, rating_is_top1percent_by_cate and review_is_top1percent_by_cate, are not changed in this table.

In [15]:
%%sql
DROP TABLE IF EXISTS temp CASCADE;

CREATE TABLE temp(
    key SERIAL PRIMARY KEY,
    category_name VARCHAR(50),
    rating_rule VARCHAR(25),
    rating_number NUMERIC(3,2) DEFAULT 0,
    review_number NUMERIC(25) DEFAULT 0,
    avg_rating_by_cate NUMERIC(3,2) DEFAULT 0,
    rating_is_top1percent_by_cate BOOLEAN DEFAULT '0',
    review_is_top1percent_by_cate BOOLEAN DEFAULT '0'
);

 * postgresql://student@/Group1
Done.
Done.

[]

In [16]:
%%sql
INSERT INTO temp (category_name, rating_number,rating_rule,review_number)
SELECT cate_name, rating, content_rating,review
FROM Google_Playstore
;

 * postgresql://student@/Group1
266994 rows affected.

[]

Temp1 table stores the column avg_rating_by_cate

In [17]:
%%sql
DROP TABLE IF EXISTS temp1;

CREATE TABLE temp1 AS
SELECT key AS key1, AVG(rating_number) OVER(PARTITION BY category_name) AS avg_rating_by_cate1
FROM temp;

 * postgresql://student@/Group1
Done.
266994 rows affected.

[]

In [18]:
%%sql
SELECT * 
FROM temp1
LIMIT 5;

 * postgresql://student@/Group1
5 rows affected.

[(308, Decimal('4.2292093287827076')),
 (257177, Decimal('4.2292093287827076')),
 (708, Decimal('4.2292093287827076')),
 (257576, Decimal('4.2292093287827076')),
 (2552, Decimal('4.2292093287827076'))]

Temp2 table stores changes in column rating_is_top1percent_by_cate.

In [19]:
%%sql
DROP TABLE IF EXISTS temp2;

CREATE TABLE temp2 AS
select key AS key2
from (
  select key, category_name, rating_rule, rating_number, review_number,
         count(*) OVER (partition by category_name) as count,
         ROW_NUMBER() OVER (partition by category_name) as row_num
  from temp
) d
where cast(cast(row_num as float)/cast(count as float) as decimal(10,3))  <= 0.01;

 * postgresql://student@/Group1
Done.
2780 rows affected.

[]

In [20]:
%%sql
ALTER TABLE temp2
ADD COLUMN rating_is_top1percent_by_cate1 BOOLEAN DEFAULT '1';

 * postgresql://student@/Group1
Done.

[]

In [21]:
%%sql
select * from temp2
limit 5;

 * postgresql://student@/Group1
5 rows affected.

[(308, True), (244750, True), (708, True), (259293, True), (2552, True)]

Similarly, temp3 table stores changes in column review_is_top1percent_by_cate.

In [22]:
%%sql
DROP TABLE IF EXISTS temp3;

CREATE TABLE temp3 AS
select key AS key3
from (
  select key, category_name, rating_rule, rating_number, review_number,
         count(*) OVER (partition by category_name) as count,
         ROW_NUMBER() OVER (partition by category_name) as row_num
  from temp
) d
where cast(cast(row_num as float)/cast(count as float) as decimal(10,3))  <= 0.01;

 * postgresql://student@/Group1
Done.
2780 rows affected.

[]

In [23]:
%%sql
ALTER TABLE temp3
ADD COLUMN review_is_top1percent_by_cate1 BOOLEAN DEFAULT '1';

 * postgresql://student@/Group1
Done.

[]

In [24]:
%%sql
select * from temp3
limit 5;

 * postgresql://student@/Group1
5 rows affected.

[(308, True), (244750, True), (708, True), (259293, True), (2552, True)]

Temp4 table stores the join table of temp and temp. We use it to update column rating_is_top1percent_by_cate in the final Evaluation table.

In [25]:
%%sql
DROP TABLE IF EXISTS temp4;

CREATE TABLE temp4 AS
SELECT *
FROM temp
LEFT JOIN temp2
ON temp.key = temp2.key2;

 * postgresql://student@/Group1
Done.
266994 rows affected.

[]

Temp5 table stores the join table of temp4 and temp3. We use it to update column review_is_top1percent_by_cate in the final Evaluation table.

In [26]:
%%sql
DROP TABLE IF EXISTS temp5;

CREATE TABLE temp5 AS
SELECT *
FROM temp4
LEFT JOIN temp3
ON temp4.key = temp3.key3;

 * postgresql://student@/Group1
Done.
266994 rows affected.

[]

Temp6 table stores the join table of temp5 and temp1. We use it to update column avg_rating_by_cate in the final Evaluation table.

In [27]:
%%sql
DROP TABLE IF EXISTS temp6;

CREATE TABLE temp6 AS
SELECT *
FROM temp5
LEFT JOIN temp1
ON temp5.key = temp1.key1;

 * postgresql://student@/Group1
Done.
266994 rows affected.

[]

In [28]:
%%sql
select * from temp6 limit 10

 * postgresql://student@/Group1
10 rows affected.

[(7, 'TRAVEL_AND_LOCAL', 'Teen', Decimal('4.27'), Decimal('421918'), Decimal('0.00'), False, False, None, None, None, None, 7, Decimal('4.1300331026181162')),
 (13, 'LIFESTYLE', 'Everyone', Decimal('3.21'), Decimal('754'), Decimal('0.00'), False, False, None, None, None, None, 13, Decimal('4.2964418279784474')),
 (18, 'FOOD_AND_DRINK', 'Everyone', Decimal('4.61'), Decimal('24291'), Decimal('0.00'), False, False, None, None, None, None, 18, Decimal('4.3156971608832808')),
 (31, 'FOOD_AND_DRINK', 'Everyone', Decimal('3.63'), Decimal('262042'), Decimal('0.00'), False, False, None, None, None, None, 31, Decimal('4.3156971608832808')),
 (39, 'FOOD_AND_DRINK', 'Teen', Decimal('4.07'), Decimal('485460'), Decimal('0.00'), False, False, None, None, None, None, 39, Decimal('4.3156971608832808')),
 (55, 'GAME_ADVENTURE', 'Everyone 10+', Decimal('3.84'), Decimal('3918'), Decimal('0.00'), False, False, None, None, None, None, 55, Decimal('4.3261516587677725')),
 (73, 'GAME_PUZZLE', 'Everyone', Decimal('4.39'), Decimal('10575'), Decimal('0.00'), False, False, None, None, None, None, 73, Decimal('4.3596767955801105')),
 (79, 'GAME_ROLE_PLAYING', 'Mature 17+', Decimal('4.19'), Decimal('1715'), Decimal('0.00'), False, False, None, None, None, None, 79, Decimal('4.3315845410628019')),
 (95, 'GAME_CASUAL', 'Everyone', Decimal('4.54'), Decimal('6999'), Decimal('0.00'), False, False, None, None, None, None, 95, Decimal('4.2455770816158285')),
 (108, 'FINANCE', 'Everyone', Decimal('4.52'), Decimal('50960'), Decimal('0.00'), False, False, None, None, None, None, 108, Decimal('4.0418617021276596'))]

In [29]:
%%sql
UPDATE temp6
SET rating_is_top1percent_by_cate = '1'
where rating_is_top1percent_by_cate1 = '1';

 * postgresql://student@/Group1
2780 rows affected.

[]

In [30]:
%%sql
UPDATE temp6
SET review_is_top1percent_by_cate = '1'
where review_is_top1percent_by_cate1 = '1';

 * postgresql://student@/Group1
2780 rows affected.

[]

In [31]:
%%sql
UPDATE temp6
SET avg_rating_by_cate = avg_rating_by_cate1;

 * postgresql://student@/Group1
266994 rows affected.

[]

In [32]:
%%sql
DROP TABLE IF EXISTS evaluation CASCADE;

CREATE TABLE evaluation AS
SELECT key, rating_rule, rating_number, review_number, avg_rating_by_cate, rating_is_top1percent_by_cate, review_is_top1percent_by_cate
FROM temp6
order by key;

 * postgresql://student@/Group1
Done.
266994 rows affected.

[]

In [33]:
%%sql
select * from evaluation limit 10

 * postgresql://student@/Group1
10 rows affected.

[(1, 'Everyone', Decimal('4.55'), Decimal('305034'), Decimal('4.32'), False, False),
 (2, 'Everyone', Decimal('4.40'), Decimal('1207922'), Decimal('4.13'), False, False),
 (3, 'Everyone', Decimal('3.66'), Decimal('1967'), Decimal('4.20'), False, False),
 (4, 'Everyone', Decimal('4.11'), Decimal('389154'), Decimal('4.32'), False, False),
 (5, 'Everyone', Decimal('4.65'), Decimal('2291'), Decimal('4.32'), False, False),
 (6, 'Everyone', Decimal('3.83'), Decimal('2559'), Decimal('4.32'), False, False),
 (7, 'Teen', Decimal('4.27'), Decimal('421918'), Decimal('4.13'), False, False),
 (8, 'Everyone', Decimal('4.50'), Decimal('142618'), Decimal('4.32'), False, False),
 (9, 'Everyone', Decimal('3.81'), Decimal('85'), Decimal('4.13'), False, False),
 (10, 'Everyone', Decimal('4.55'), Decimal('67514'), Decimal('4.32'), False, False)]

In [34]:
%%sql
DROP TABLE IF EXISTS temp;
DROP TABLE IF EXISTS temp1;
DROP TABLE IF EXISTS temp2;
DROP TABLE IF EXISTS temp3;
DROP TABLE IF EXISTS temp4;
DROP TABLE IF EXISTS temp5;
DROP TABLE IF EXISTS temp6;

 * postgresql://student@/Group1
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Create Day Table

Day table stores the date of last update information of apps.

In [35]:
%%sql
DROP TABLE IF EXISTS day CASCADE;

CREATE TABLE day (
    key SERIAL PRIMARY KEY,
    full_date VARCHAR(11),
    last_update_day VARCHAR(3),
    last_update_month VARCHAR(4),
    last_update_quarter NUMERIC(1,0),
    last_update_year VARCHAR(4)
);

 * postgresql://student@/Group1
Done.
Done.

[]

In [36]:
%%sql
INSERT INTO day (full_date,last_update_day,last_update_month,last_update_year)
SELECT full_date,last_update_day,last_update_month,last_update_year
FROM Google_Playstore;

 * postgresql://student@/Group1
266994 rows affected.

[]

Setting column last_update_quarter.

In [37]:
%%sql
UPDATE day
SET last_update_quarter = (CASE 
WHEN last_update_month IN ('Jan','Feb','Mar') THEN 1
WHEN last_update_month IN ('Apr','May','Jun') THEN 2
WHEN last_update_month IN ('Jul','Aug','Sep') THEN 3
WHEN last_update_month IN ('Oct','Nov','Dec') THEN 4
END);

 * postgresql://student@/Group1
266994 rows affected.

[]

## Create Install Table

Install tables stores the information about install numbers and whether a certain app is in top 1 percnet in its category. We create three temporary tables in order to create the column is_top1percent_by_cate. It is the same strategy as the one we use to create Evaluation table.

First we create a temporary table to help create the Install table.

In [38]:
%%sql
DROP TABLE IF EXISTS temp;

CREATE TABLE temp (
    key SERIAL PRIMARY KEY,
    category_name VARCHAR(50),
    install_number NUMERIC(25),
    is_top1percent_by_cate BOOLEAN DEFAULT '0'
);

 * postgresql://student@/Group1
Done.
Done.

[]

In [39]:
%%sql
INSERT INTO temp (category_name, install_number)
SELECT cate_name, install
FROM Google_Playstore;

 * postgresql://student@/Group1
266994 rows affected.

[]

In [40]:
%%sql
DROP TABLE IF EXISTS temp1;

CREATE TABLE temp1 AS
select key AS key1, category_name AS category_name1, install_number AS install_number1
from (
  select key, category_name, install_number,
         count(*) OVER (partition by category_name) as count,
         ROW_NUMBER() OVER (partition by category_name ORDER BY install_number DESC) as row_num
  from temp
) d
where cast(cast(row_num as float)/cast(count as float) as decimal(10,3))  <= 0.01;

 * postgresql://student@/Group1
Done.
2780 rows affected.

[]

In [41]:
%%sql
ALTER TABLE temp1
ADD COLUMN is_top1percent_by_cate1 BOOLEAN DEFAULT '1';

 * postgresql://student@/Group1
Done.

[]

In [42]:
%%sql
DROP TABLE IF EXISTS temp2;

CREATE TABLE temp2 AS
SELECT *
FROM temp
LEFT JOIN temp1
ON temp.key = temp1.key1;

 * postgresql://student@/Group1
Done.
266994 rows affected.

[]

In [43]:
%%sql
UPDATE temp2
SET is_top1percent_by_cate = '1'
where is_top1percent_by_cate1 = '1';

 * postgresql://student@/Group1
2780 rows affected.

[]

In [44]:
%%sql
DROP TABLE IF EXISTS install;

CREATE TABLE install AS
SELECT key, install_number, is_top1percent_by_cate
FROM temp2;

 * postgresql://student@/Group1
Done.
266994 rows affected.

[]

In [45]:
%%sql
SELECT * from install
ORDER BY key 
LIMIT 10;

 * postgresql://student@/Group1
10 rows affected.

[(1, Decimal('5000000'), False),
 (2, Decimal('100000000'), True),
 (3, Decimal('100000'), False),
 (4, Decimal('10000000'), True),
 (5, Decimal('10000'), False),
 (6, Decimal('100000'), False),
 (7, Decimal('10000000'), True),
 (8, Decimal('5000000'), True),
 (9, Decimal('10000'), False),
 (10, Decimal('5000000'), False)]

In [46]:
%%sql
DROP TABLE IF EXISTS temp;
DROP TABLE IF EXISTS temp1;
DROP TABLE IF EXISTS temp2;

 * postgresql://student@/Group1
Done.
Done.
Done.

[]

## Create Category table

Category table stores the category information of apps.

In [47]:
%%sql
DROP TABLE IF EXISTS category CASCADE;

CREATE TABLE category (
    key SERIAL PRIMARY KEY,
    category_name VARCHAR(50)
);

 * postgresql://student@/Group1
Done.
Done.

[]

In [48]:
%%sql
INSERT INTO category (category_name)
SELECT cate_name
FROM Google_Playstore;

 * postgresql://student@/Group1
266994 rows affected.

[]

In [49]:
%%sql
SELECT *
FROM category
LIMIT 10;

 * postgresql://student@/Group1
10 rows affected.

[(1, 'FOOD_AND_DRINK'),
 (2, 'TRAVEL_AND_LOCAL'),
 (3, 'SHOPPING'),
 (4, 'FOOD_AND_DRINK'),
 (5, 'FOOD_AND_DRINK'),
 (6, 'FOOD_AND_DRINK'),
 (7, 'TRAVEL_AND_LOCAL'),
 (8, 'FOOD_AND_DRINK'),
 (9, 'TRAVEL_AND_LOCAL'),
 (10, 'FOOD_AND_DRINK')]

## create APP table

App table is the fact table that links all the dimension tables.

In [50]:
%%sql
DROP TABLE IF EXISTS app CASCADE;

CREATE TABLE app(
    app_id NUMERIC(10) NOT NULL,
    app_name VARCHAR(100),
    price_key NUMERIC(10),
    size_key NUMERIC(10),
    install_key NUMERIC(10),
    evaluation_key NUMERIC(10),
    day_key NUMERIC(10),
    category_key NUMERIC(10),
    PRIMARY KEY(app_id),
    UNIQUE (app_id)
);

 * postgresql://student@/Group1
Done.
Done.

[]

In [51]:
%%sql
INSERT INTO App (app_id,APP_NAME)
SELECT app_id,APP_NAME
FROM Google_Playstore;

 * postgresql://student@/Group1
266994 rows affected.

[]

In [52]:
%%sql
UPDATE App
SET price_key = app_id,
size_key = app_id,
install_key = app_id,
evaluation_key = app_id,
day_key = app_id,
category_key = app_id;

 * postgresql://student@/Group1
266994 rows affected.

[]

In [53]:
%%sql
SELECT *
FROM App
LIMIT 10;

 * postgresql://student@/Group1
10 rows affected.

[(Decimal('1'), 'DoorDash - Food Delivery', Decimal('1'), Decimal('1'), Decimal('1'), Decimal('1'), Decimal('1'), Decimal('1')),
 (Decimal('2'), 'TripAdvisor Hotels Flights Restaurants Attractions', Decimal('2'), Decimal('2'), Decimal('2'), Decimal('2'), Decimal('2'), Decimal('2')),
 (Decimal('3'), 'Peapod', Decimal('3'), Decimal('3'), Decimal('3'), Decimal('3'), Decimal('3'), Decimal('3')),
 (Decimal('4'), 'foodpanda - Local Food Delivery', Decimal('4'), Decimal('4'), Decimal('4'), Decimal('4'), Decimal('4'), Decimal('4')),
 (Decimal('5'), 'My CookBook Pro (Ad Free)', Decimal('5'), Decimal('5'), Decimal('5'), Decimal('5'), Decimal('5'), Decimal('5')),
 (Decimal('6'), 'Safeway Online Shopping', Decimal('6'), Decimal('6'), Decimal('6'), Decimal('6'), Decimal('6'), Decimal('6')),
 (Decimal('7'), 'Yelp: Food- Shopping- Services Nearby', Decimal('7'), Decimal('7'), Decimal('7'), Decimal('7'), Decimal('7'), Decimal('7')),
 (Decimal('8'), 'Talabat: Food Delivery', Decimal('8'), Decimal('8'), Decimal('8'), Decimal('8'), Decimal('8'), Decimal('8')),
 (Decimal('9'), 'Fast Food Locator | Worldwide Fast Food Finder', Decimal('9'), Decimal('9'), Decimal('9'), Decimal('9'), Decimal('9'), Decimal('9')),
 (Decimal('10'), 'Allrecipes Dinner Spinner', Decimal('10'), Decimal('10'), Decimal('10'), Decimal('10'), Decimal('10'), Decimal('10'))]

## Problem 1
### What is the minimum rating value of an application to be competitive in its category in the Google Play store? In which categories are the applications under the most competitive pressure?

In [54]:
%%sql
DROP VIEW IF EXISTS problem1 CASCADE;

CREATE VIEW problem1 AS

SELECT category_name, avg_rating_by_cate
FROM Category, evaluation
WHERE Category.key = evaluation.key;

 * postgresql://student@/Group1
Done.
Done.

[]

In [55]:
%%sql
SELECT category_name,count(category_name),avg_rating_by_cate
FROM problem1
GROUP BY category_name,avg_rating_by_cate
ORDER BY count DESC
LIMIT 15;

 * postgresql://student@/Group1
15 rows affected.

[('EDUCATION', 33391, Decimal('4.35')),
 ('TOOLS', 21587, Decimal('4.14')),
 ('BOOKS_AND_REFERENCE', 21373, Decimal('4.48')),
 ('ENTERTAINMENT', 20603, Decimal('4.26')),
 ('MUSIC_AND_AUDIO', 17874, Decimal('4.43')),
 ('LIFESTYLE', 15033, Decimal('4.30')),
 ('PERSONALIZATION', 10543, Decimal('4.44')),
 ('FINANCE', 10340, Decimal('4.04')),
 ('BUSINESS', 10229, Decimal('4.14')),
 ('PRODUCTIVITY', 9141, Decimal('4.17')),
 ('NEWS_AND_MAGAZINES', 8028, Decimal('4.23')),
 ('HEALTH_AND_FITNESS', 7537, Decimal('4.21')),
 ('PHOTOGRAPHY', 7240, Decimal('4.17')),
 ('TRAVEL_AND_LOCAL', 6646, Decimal('4.13')),
 ('SPORTS', 5585, Decimal('4.29'))]

## Problem 2
### Should app developers limit the size of an application when taking rating and installation numbers into consideration?
### What is the size of top 1% application in each category based on installation number or rating number?

In [56]:
%%sql
DROP VIEW IF EXISTS problem2 CASCADE;

CREATE VIEW problem2 AS
SELECT app_id, app_name, category_name , full_size, size_number, install_number, is_top1percent_by_cate, rating_number,rating_is_top1percent_by_cate
FROM app
JOIN size
ON app.size_key = size.key
JOIN category
ON app.category_key = category.key
JOIN install
ON app.install_key = install.key
JOIN evaluation
ON app.evaluation_key = evaluation.key
WHERE size.size_magnitude = 'M'
ORDER BY size_number DESC, category_name

 * postgresql://student@/Group1
Done.
Done.

[]

Find largest applications in each category:

In [57]:
%%sql
SELECT app_id, app_name, category_name , full_size, install_number,rating_number
    FROM (
        SELECT app_id, app_name, category_name, full_size, size_number, install_number, rating_number,ROW_NUMBER()
          over (Partition BY category_name
                ORDER BY size_number DESC ) AS RowNumberRank
        FROM problem2 
        ) d WHERE RowNumberRank <=5
order by category_name
limit 20;

 * postgresql://student@/Group1
20 rows affected.

[(Decimal('220719'), 'Dreamhouse Next Launcher Theme', 'ART_AND_DESIGN', '94M', Decimal('1000'), Decimal('4.75')),
 (Decimal('64174'), 'Regroup AlertManager', 'ART_AND_DESIGN', '94M', Decimal('500'), Decimal('5.00')),
 (Decimal('203658'), 'LUBE VR', 'ART_AND_DESIGN', '91M', Decimal('1000'), Decimal('2.67')),
 (Decimal('108152'), 'Learn German from scratch', 'ART_AND_DESIGN', '87M', Decimal('50000'), Decimal('3.93')),
 (Decimal('227788'), 'Text on Photo/Image : Pic Master', 'ART_AND_DESIGN', '81M', Decimal('500'), Decimal('5.00')),
 (Decimal('152814'), 'Channel Tracker - YouTube client', 'AUTO_AND_VEHICLES', '101M', Decimal('1000000'), Decimal('3.14')),
 (Decimal('162665'), 'BALIPOST.com Online', 'AUTO_AND_VEHICLES', '98M', Decimal('1000'), Decimal('3.44')),
 (Decimal('119902'), 'Sudoku Wizard', 'AUTO_AND_VEHICLES', '98M', Decimal('50000'), Decimal('3.46')),
 (Decimal('38601'), 'Share Tube', 'AUTO_AND_VEHICLES', '97M', Decimal('10000'), Decimal('4.60')),
 (Decimal('59771'), 'HuHot Rewards', 'AUTO_AND_VEHICLES', '97M', Decimal('100'), Decimal('4.82')),
 (Decimal('83482'), 'Reaction Trainer', 'BEAUTY', '98M', Decimal('100'), Decimal('5.00')),
 (Decimal('136625'), 'Chicago Transit - CTA', 'BEAUTY', '96M', Decimal('100'), Decimal('5.00')),
 (Decimal('87557'), 'My Co-op', 'BEAUTY', '93M', Decimal('100000'), Decimal('4.46')),
 (Decimal('100648'), 'Athkar Hisnul Muslim', 'BEAUTY', '91M', Decimal('50000'), Decimal('4.48')),
 (Decimal('183199'), 'Convergence Physics', 'BEAUTY', '91M', Decimal('100'), Decimal('3.00')),
 (Decimal('58700'), '???? ??? Bangla Age Calculator', 'BOOKS_AND_REFERENCE', '113M', Decimal('100'), Decimal('1.00')),
 (Decimal('124986'), 'Air Bubbles', 'BOOKS_AND_REFERENCE', '100M', Decimal('1000'), Decimal('4.75')),
 (Decimal('223342'), 'Str8ts', 'BOOKS_AND_REFERENCE', '99M', Decimal('1000'), Decimal('4.78')),
 (Decimal('146998'), 'NW Preferred FCU', 'BOOKS_AND_REFERENCE', '99M', Decimal('10000'), Decimal('4.83')),
 (Decimal('241258'), 'Morgenkreis App: games & ideas for kindergarten', 'BOOKS_AND_REFERENCE', '99M', Decimal('10000'), Decimal('4.71'))]

Find most installed application in each category:

In [58]:
%%sql
SELECT app_id, app_name, category_name , full_size, install_number,rating_number
    FROM (
        SELECT app_id, app_name, category_name, full_size, size_number, install_number, rating_number,ROW_NUMBER()
          over (Partition BY category_name
                ORDER BY install_number DESC ) AS RowNumberRank
        FROM problem2 
        ) d WHERE RowNumberRank <=1
order by category_name
limit 20;

 * postgresql://student@/Group1
20 rows affected.

[(Decimal('3660'), 'Decisions: Choose Your Interactive Stories Choice', 'ART_AND_DESIGN', '34M', Decimal('100000000'), Decimal('4.49')),
 (Decimal('20250'), 'Houston Fire: EMS Protocols', 'AUTO_AND_VEHICLES', '48M', Decimal('10000000'), Decimal('4.46')),
 (Decimal('27133'), 'Epic Sax Guy Button', 'BEAUTY', '0M', Decimal('10000000'), Decimal('4.42')),
 (Decimal('1656'), 'Dr. Driving', 'BOOKS_AND_REFERENCE', '0M', Decimal('100000000'), Decimal('4.16')),
 (Decimal('417'), 'OfficeSuite - Free Office- PDF- Word-Sheets-Slides', 'BUSINESS', '37M', Decimal('100000000'), Decimal('4.33')),
 (Decimal('3372'), 'Google Assistant', 'COMICS', '46M', Decimal('10000000'), Decimal('4.18')),
 (Decimal('2729'), 'Mail1Click - Secure Mail', 'COMMUNICATION', '0M', Decimal('1000000000'), Decimal('4.35')),
 (Decimal('1439'), 'Hot or Not - Find someone right now', 'DATING', '0M', Decimal('10000000'), Decimal('4.07')),
 (Decimal('2352'), 'LEGO___ MINDSTORMS___ Commander', 'EDUCATION', '0M', Decimal('100000000'), Decimal('4.72')),
 (Decimal('6799'), 'TweetCaster Pro for Twitter', 'ENTERTAINMENT', '0M', Decimal('1000000000'), Decimal('4.30')),
 (Decimal('982'), 'Ticketmaster Event Tickets', 'EVENTS', '19M', Decimal('10000000'), Decimal('4.07')),
 (Decimal('161'), 'Google Pay', 'FINANCE', '0M', Decimal('100000000'), Decimal('4.40')),
 (Decimal('22'), 'Zomato - Restaurant Finder and Food Delivery App', 'FOOD_AND_DRINK', '0M', Decimal('50000000'), Decimal('4.33')),
 (Decimal('1056'), 'Temple Run 2', 'GAME_ACTION', '0M', Decimal('500000000'), Decimal('4.33')),
 (Decimal('878'), 'Criminal Case', 'GAME_ADVENTURE', '0M', Decimal('100000000'), Decimal('4.54')),
 (Decimal('540'), 'Subway Surfers', 'GAME_ARCADE', '85M', Decimal('1000000000'), Decimal('4.50')),
 (Decimal('2276'), 'Fleet Battle - Sea Battle', 'GAME_BOARD', '36M', Decimal('100000000'), Decimal('4.43')),
 (Decimal('786'), 'Solitaire', 'GAME_CARD', '0M', Decimal('100000000'), Decimal('4.37')),
 (Decimal('11184'), 'Focus To-Do: Pomodoro Timer & To Do List', 'GAME_CASINO', '66M', Decimal('50000000'), Decimal('4.41')),
 (Decimal('1188'), 'My Talking Tom', 'GAME_CASUAL', '0M', Decimal('500000000'), Decimal('4.49'))]

Find the size of top5 most installed application in each category:

In [59]:
%%sql
SELECT app_id, app_name, category_name , full_size, install_number
    FROM (
        SELECT app_id, app_name, category_name, full_size, size_number, install_number,ROW_NUMBER()
          over (Partition BY category_name
                ORDER BY install_number DESC ) AS RowNumberRank
        FROM problem2
        WHERE is_top1percent_by_cate = '1'
        ) d WHERE RowNumberRank<=5
order by category_name, install_number DESC
LIMIT 10;

 * postgresql://student@/Group1
10 rows affected.

[(Decimal('3660'), 'Decisions: Choose Your Interactive Stories Choice', 'ART_AND_DESIGN', '34M', Decimal('100000000')),
 (Decimal('38313'), '????? MonokuroWorld', 'ART_AND_DESIGN', '26M', Decimal('50000000')),
 (Decimal('715'), 'PaperColor : Paint Draw Sketchbook & PaperDraw', 'ART_AND_DESIGN', '16M', Decimal('10000000')),
 (Decimal('824'), 'Canva: Graphic Design & Logo- Flyer- Poster maker', 'ART_AND_DESIGN', '17M', Decimal('10000000')),
 (Decimal('717'), 'ibis Paint X', 'ART_AND_DESIGN', '30M', Decimal('10000000')),
 (Decimal('2255'), 'Extreme City Mega GT Ramp 2019', 'AUTO_AND_VEHICLES', '46M', Decimal('10000000')),
 (Decimal('3784'), 'Learn professions', 'AUTO_AND_VEHICLES', '29M', Decimal('10000000')),
 (Decimal('6197'), '???????????? ????????? - Mobile Tips 2019', 'AUTO_AND_VEHICLES', '14M', Decimal('10000000')),
 (Decimal('21980'), 'Auto Optimizer', 'AUTO_AND_VEHICLES', '44M', Decimal('10000000')),
 (Decimal('115129'), 'Calculator andanCalc LT', 'AUTO_AND_VEHICLES', '9.3M', Decimal('10000000'))]

In [60]:
%%sql
DROP VIEW IF EXISTS install1 CASCADE;

CREATE VIEW install1 AS
SELECT app_id, app_name, category_name , full_size,size_number,install_number
    FROM (
        SELECT app_id, app_name, category_name, full_size, size_number, install_number,ROW_NUMBER()
          over (Partition BY category_name
                ORDER BY install_number DESC ) AS RowNumberRank
        FROM problem2
        WHERE is_top1percent_by_cate = '1'
        ) d WHERE RowNumberRank<=5
order by category_name, install_number DESC

 * postgresql://student@/Group1
Done.
Done.

[]

In [61]:
%%sql
SELECT category_name, AVG(size_number) FROM install1 GROUP BY category_name
LIMIT 10;

 * postgresql://student@/Group1
10 rows affected.

[('ART_AND_DESIGN', Decimal('24.6000000000000000')),
 ('AUTO_AND_VEHICLES', Decimal('28.4600000000000000')),
 ('BEAUTY', Decimal('21.2000000000000000')),
 ('BOOKS_AND_REFERENCE', Decimal('4.3600000000000000')),
 ('BUSINESS', Decimal('20.3800000000000000')),
 ('COMICS', Decimal('19.2000000000000000')),
 ('COMMUNICATION', Decimal('4.0000000000000000')),
 ('DATING', Decimal('10.3333333333333333')),
 ('EDUCATION', Decimal('1.6400000000000000')),
 ('ENTERTAINMENT', Decimal('26.4000000000000000'))]

Find the size of top5 rated applications in each category:

In [62]:
%%sql
SELECT app_id, app_name, category_name , full_size, rating_number 
    FROM (
        SELECT app_id, app_name, category_name, full_size, size_number, rating_number, ROW_NUMBER()
          over (Partition BY category_name
                ORDER BY rating_number DESC) AS rank
        FROM problem2
        WHERE rating_is_top1percent_by_cate = '1'
        ) d WHERE rank <= 5
order by category_name
LIMIT 10;

 * postgresql://student@/Group1
10 rows affected.

[(Decimal('253326'), 'Smartmilk', 'ART_AND_DESIGN', '4M', Decimal('5.00')),
 (Decimal('259293'), '? Diamond Color by Number - Painting Games ?', 'ART_AND_DESIGN', '6M', Decimal('5.00')),
 (Decimal('260055'), 'Wrought Iron Furniture Design', 'ART_AND_DESIGN', '8.7M', Decimal('5.00')),
 (Decimal('250775'), 'Espace Maison', 'ART_AND_DESIGN', '14M', Decimal('5.00')),
 (Decimal('246295'), 'Kurabiye Tarifleri', 'ART_AND_DESIGN', '4.1M', Decimal('4.65')),
 (Decimal('142012'), 'Glooko Kiosk - Providers Only', 'AUTO_AND_VEHICLES', '5.4M', Decimal('5.00')),
 (Decimal('238547'), 'HK_Sky Line', 'AUTO_AND_VEHICLES', '5.3M', Decimal('4.73')),
 (Decimal('204866'), 'Snow Excavator Dredge Simulator - Rescue Game', 'AUTO_AND_VEHICLES', '50M', Decimal('4.66')),
 (Decimal('204857'), 'Peco Online - Preturi benzina- motorina si GPL', 'AUTO_AND_VEHICLES', '7.2M', Decimal('4.63')),
 (Decimal('157462'), 'Dominican Radio', 'AUTO_AND_VEHICLES', '11M', Decimal('4.57'))]

In [63]:
%%sql
DROP VIEW IF EXISTS rating1 CASCADE;

CREATE VIEW rating1 AS
SELECT app_id, app_name, category_name , full_size, size_number, rating_number 
    FROM (
        SELECT app_id, app_name, category_name, full_size, size_number, rating_number, ROW_NUMBER()
          over (Partition BY category_name
                ORDER BY rating_number DESC) AS rank
        FROM problem2
        WHERE rating_is_top1percent_by_cate = '1'
        ) d WHERE rank <= 5
order by category_name

 * postgresql://student@/Group1
Done.
Done.

[]

In [64]:
%%sql
SELECT category_name, AVG(size_number) FROM rating1 GROUP BY category_name
LIMIT 10;

 * postgresql://student@/Group1
10 rows affected.

[('ART_AND_DESIGN', Decimal('7.3600000000000000')),
 ('AUTO_AND_VEHICLES', Decimal('15.7800000000000000')),
 ('BEAUTY', Decimal('12.9800000000000000')),
 ('BOOKS_AND_REFERENCE', Decimal('8.6200000000000000')),
 ('BUSINESS', Decimal('9.5600000000000000')),
 ('COMICS', Decimal('26.9000000000000000')),
 ('COMMUNICATION', Decimal('14.4000000000000000')),
 ('DATING', Decimal('19.0333333333333333')),
 ('EDUCATION', Decimal('7.5000000000000000')),
 ('ENTERTAINMENT', Decimal('6.9000000000000000'))]

## Problem 3
### 1) Which category has the most paid applications?

In [65]:
%%sql
DROP VIEW IF EXISTS problem3 CASCADE;

CREATE VIEW problem3 AS

SELECT category_name,price_number,is_paid
FROM Category,Price
WHERE Category.key = Price.key;

 * postgresql://student@/Group1
Done.
Done.

[]

In [66]:
%%sql
SELECT*
FROM problem3
LIMIT 10;

 * postgresql://student@/Group1
10 rows affected.

[('FOOD_AND_DRINK', Decimal('0.00'), Decimal('0')),
 ('TRAVEL_AND_LOCAL', Decimal('0.00'), Decimal('0')),
 ('SHOPPING', Decimal('0.00'), Decimal('0')),
 ('FOOD_AND_DRINK', Decimal('0.00'), Decimal('0')),
 ('FOOD_AND_DRINK', Decimal('5.99'), Decimal('1')),
 ('FOOD_AND_DRINK', Decimal('0.00'), Decimal('0')),
 ('TRAVEL_AND_LOCAL', Decimal('0.00'), Decimal('0')),
 ('FOOD_AND_DRINK', Decimal('0.00'), Decimal('0')),
 ('TRAVEL_AND_LOCAL', Decimal('0.00'), Decimal('0')),
 ('FOOD_AND_DRINK', Decimal('0.00'), Decimal('0'))]

In [67]:
%%sql
SELECT category_name,count(category_name),
SUM(CASE WHEN is_paid =1 then 1
    ELSE 0 END) AS "Paid",
SUM(CASE WHEN is_paid =0 then 1
   ELSE 0 END) AS "Free"

FROM problem3
GROUP BY category_name
ORDER BY count DESC;

 * postgresql://student@/Group1
50 rows affected.

[('EDUCATION', 33391, 1366, 32025),
 ('TOOLS', 21587, 1364, 20223),
 ('BOOKS_AND_REFERENCE', 21373, 715, 20658),
 ('ENTERTAINMENT', 20603, 370, 20233),
 ('MUSIC_AND_AUDIO', 17874, 384, 17490),
 ('LIFESTYLE', 15033, 340, 14693),
 ('PERSONALIZATION', 10543, 774, 9769),
 ('FINANCE', 10340, 140, 10200),
 ('BUSINESS', 10229, 146, 10083),
 ('PRODUCTIVITY', 9141, 555, 8586),
 ('NEWS_AND_MAGAZINES', 8028, 44, 7984),
 ('HEALTH_AND_FITNESS', 7537, 425, 7112),
 ('PHOTOGRAPHY', 7240, 279, 6961),
 ('TRAVEL_AND_LOCAL', 6646, 167, 6479),
 ('SPORTS', 5585, 286, 5299),
 ('COMMUNICATION', 5486, 169, 5317),
 ('SHOPPING', 5335, 29, 5306),
 ('SOCIAL', 4743, 70, 4673),
 ('MAPS_AND_NAVIGATION', 4091, 143, 3948),
 ('MEDICAL', 3735, 387, 3348),
 ('GAME_PUZZLE', 3620, 371, 3249),
 ('FOOD_AND_DRINK', 3170, 48, 3122),
 ('VIDEO_PLAYERS', 2715, 134, 2581),
 ('GAME_CASUAL', 2426, 186, 2240),
 ('GAME_ARCADE', 2343, 269, 2074),
 ('AUTO_AND_VEHICLES', 2101, 83, 2018),
 ('GAME_EDUCATIONAL', 2006, 288, 1718),
 ('ART_AND_DESIGN', 1758, 60, 1698),
 ('WEATHER', 1643, 120, 1523),
 ('GAME_SIMULATION', 1607, 272, 1335),
 ('GAME_ACTION', 1482, 193, 1289),
 ('GAME_CARD', 1183, 85, 1098),
 ('GAME_ADVENTURE', 1055, 334, 721),
 ('GAME_ROLE_PLAYING', 1035, 276, 759),
 ('GAME_BOARD', 968, 154, 814),
 ('BEAUTY', 958, 3, 955),
 ('GAME_WORD', 946, 33, 913),
 ('HOUSE_AND_HOME', 925, 11, 914),
 ('GAME_STRATEGY', 913, 222, 691),
 ('GAME_RACING', 778, 72, 706),
 ('GAME_SPORTS', 772, 102, 670),
 ('GAME_TRIVIA', 753, 33, 720),
 ('PARENTING', 621, 27, 594),
 ('EVENTS', 615, 2, 613),
 ('LIBRARIES_AND_DEMO', 612, 16, 596),
 ('COMICS', 505, 19, 486),
 ('GAME_CASINO', 367, 3, 364),
 ('DATING', 323, 6, 317),
 ('GAME_MUSIC', 253, 29, 224),
 ('TRAVEL', 1, 0, 1)]

## 2)     Are the rating scores of paid applications higher than the average rating of unpaid applications in their categories?

In [70]:
%%sql
DROP VIEW IF EXISTS problem3_2 CASCADE;

CREATE VIEW problem3_2 AS

SELECT category_name, is_paid,AVG(rating_number) OVER(PARTITION BY category_name) AS avg_rating_by_cate
FROM Category,Price,evaluation
WHERE Category.key = Price.key AND Category.key  = evaluation.key AND is_paid =1;

 * postgresql://student@/Group1
Done.
Done.

[]

In [72]:
%%sql
SELECT category_name,count(category_name),avg_rating_by_cate
FROM problem3_2
GROUP BY category_name, avg_rating_by_cate
ORDER BY count DESC;

 * postgresql://student@/Group1
49 rows affected.

[('EDUCATION', 1366, Decimal('4.3492386530014641')),
 ('TOOLS', 1364, Decimal('4.3012536656891496')),
 ('PERSONALIZATION', 774, Decimal('4.4833204134366925')),
 ('BOOKS_AND_REFERENCE', 715, Decimal('4.3752447552447552')),
 ('PRODUCTIVITY', 555, Decimal('4.2967567567567568')),
 ('HEALTH_AND_FITNESS', 425, Decimal('4.2797411764705882')),
 ('MEDICAL', 387, Decimal('4.2555297157622739')),
 ('MUSIC_AND_AUDIO', 384, Decimal('4.3306770833333333')),
 ('GAME_PUZZLE', 371, Decimal('4.4561725067385445')),
 ('ENTERTAINMENT', 370, Decimal('4.2864324324324324')),
 ('LIFESTYLE', 340, Decimal('4.2364411764705882')),
 ('GAME_ADVENTURE', 334, Decimal('4.3665568862275449')),
 ('GAME_EDUCATIONAL', 288, Decimal('4.2687500000000000')),
 ('SPORTS', 286, Decimal('4.2656643356643357')),
 ('PHOTOGRAPHY', 279, Decimal('4.1439068100358423')),
 ('GAME_ROLE_PLAYING', 276, Decimal('4.4097463768115942')),
 ('GAME_SIMULATION', 272, Decimal('4.2913235294117647')),
 ('GAME_ARCADE', 269, Decimal('4.3331226765799257')),
 ('GAME_STRATEGY', 222, Decimal('4.3886486486486486')),
 ('GAME_ACTION', 193, Decimal('4.2597409326424870')),
 ('GAME_CASUAL', 186, Decimal('4.2536559139784946')),
 ('COMMUNICATION', 169, Decimal('4.1769822485207101')),
 ('TRAVEL_AND_LOCAL', 167, Decimal('4.1856886227544910')),
 ('GAME_BOARD', 154, Decimal('4.3411688311688312')),
 ('BUSINESS', 146, Decimal('4.2100000000000000')),
 ('MAPS_AND_NAVIGATION', 143, Decimal('4.2103496503496503')),
 ('FINANCE', 140, Decimal('4.3642857142857143')),
 ('VIDEO_PLAYERS', 134, Decimal('4.1120895522388060')),
 ('WEATHER', 120, Decimal('4.1365000000000000')),
 ('GAME_SPORTS', 102, Decimal('4.1527450980392157')),
 ('GAME_CARD', 85, Decimal('4.2892941176470588')),
 ('AUTO_AND_VEHICLES', 83, Decimal('4.1028915662650602')),
 ('GAME_RACING', 72, Decimal('4.2734722222222222')),
 ('SOCIAL', 70, Decimal('4.2130000000000000')),
 ('ART_AND_DESIGN', 60, Decimal('4.3435000000000000')),
 ('FOOD_AND_DRINK', 48, Decimal('4.3843750000000000')),
 ('NEWS_AND_MAGAZINES', 44, Decimal('4.2145454545454545')),
 ('GAME_TRIVIA', 33, Decimal('4.1069696969696970')),
 ('GAME_WORD', 33, Decimal('4.4590909090909091')),
 ('GAME_MUSIC', 29, Decimal('4.2255172413793103')),
 ('SHOPPING', 29, Decimal('4.1855172413793103')),
 ('PARENTING', 27, Decimal('4.4737037037037037')),
 ('COMICS', 19, Decimal('4.5826315789473684')),
 ('LIBRARIES_AND_DEMO', 16, Decimal('3.9518750000000000')),
 ('HOUSE_AND_HOME', 11, Decimal('3.6545454545454545')),
 ('DATING', 6, Decimal('3.3033333333333333')),
 ('GAME_CASINO', 3, Decimal('3.9233333333333333')),
 ('BEAUTY', 3, Decimal('4.8933333333333333')),
 ('EVENTS', 2, Decimal('3.0000000000000000'))]

In [73]:
%%sql
DROP VIEW IF EXISTS problem3_3 CASCADE;

CREATE VIEW problem3_3 AS

SELECT category_name, is_paid,AVG(rating_number) OVER(PARTITION BY category_name) AS avg_rating
FROM Category,Price,evaluation
WHERE Category.key = Price.key AND Category.key  = evaluation.key AND is_paid =0;

 * postgresql://student@/Group1
Done.
Done.

[]

In [74]:
%%sql
SELECT category_name,count(category_name),avg_rating
FROM problem3_3
GROUP BY category_name,avg_rating
ORDER BY count DESC;

 * postgresql://student@/Group1
50 rows affected.

[('EDUCATION', 32025, Decimal('4.3471875097580016')),
 ('BOOKS_AND_REFERENCE', 20658, Decimal('4.4793295575563946')),
 ('ENTERTAINMENT', 20233, Decimal('4.2570202145010626')),
 ('TOOLS', 20223, Decimal('4.1315729614795035')),
 ('MUSIC_AND_AUDIO', 17490, Decimal('4.4331932532875929')),
 ('LIFESTYLE', 14693, Decimal('4.2978302593071531')),
 ('FINANCE', 10200, Decimal('4.0374362745098039')),
 ('BUSINESS', 10083, Decimal('4.1419289893880789')),
 ('PERSONALIZATION', 9769, Decimal('4.4315733442522264')),
 ('PRODUCTIVITY', 8586, Decimal('4.1642080130444910')),
 ('NEWS_AND_MAGAZINES', 7984, Decimal('4.2280323146292585')),
 ('HEALTH_AND_FITNESS', 7112, Decimal('4.2006594488188976')),
 ('PHOTOGRAPHY', 6961, Decimal('4.1682876023559833')),
 ('TRAVEL_AND_LOCAL', 6479, Decimal('4.1285985491588208')),
 ('COMMUNICATION', 5317, Decimal('4.2409290953545232')),
 ('SHOPPING', 5306, Decimal('4.2025914059555221')),
 ('SPORTS', 5299, Decimal('4.2866031326665409')),
 ('SOCIAL', 4673, Decimal('4.3635330622726300')),
 ('MAPS_AND_NAVIGATION', 3948, Decimal('4.0154154002026342')),
 ('MEDICAL', 3348, Decimal('4.2327688172043011')),
 ('GAME_PUZZLE', 3249, Decimal('4.3486580486303478')),
 ('FOOD_AND_DRINK', 3122, Decimal('4.3146412556053812')),
 ('VIDEO_PLAYERS', 2581, Decimal('4.0501588531576908')),
 ('GAME_CASUAL', 2240, Decimal('4.2449062500000000')),
 ('GAME_ARCADE', 2074, Decimal('4.2738862102217936')),
 ('AUTO_AND_VEHICLES', 2018, Decimal('4.1275520317145689')),
 ('GAME_EDUCATIONAL', 1718, Decimal('4.2577066356228172')),
 ('ART_AND_DESIGN', 1698, Decimal('4.2251707891637220')),
 ('WEATHER', 1523, Decimal('4.2000328299409061')),
 ('GAME_SIMULATION', 1335, Decimal('4.2012209737827715')),
 ('GAME_ACTION', 1289, Decimal('4.2558805275407292')),
 ('GAME_CARD', 1098, Decimal('4.2703187613843352')),
 ('BEAUTY', 955, Decimal('4.2945968586387435')),
 ('HOUSE_AND_HOME', 914, Decimal('4.0417396061269147')),
 ('GAME_WORD', 913, Decimal('4.3498247535596933')),
 ('GAME_BOARD', 814, Decimal('4.2418427518427518')),
 ('GAME_ROLE_PLAYING', 759, Decimal('4.3031620553359684')),
 ('GAME_ADVENTURE', 721, Decimal('4.3074341192787795')),
 ('GAME_TRIVIA', 720, Decimal('4.2251944444444444')),
 ('GAME_RACING', 706, Decimal('4.2125212464589235')),
 ('GAME_STRATEGY', 691, Decimal('4.2705354558610709')),
 ('GAME_SPORTS', 670, Decimal('4.1693582089552239')),
 ('EVENTS', 613, Decimal('4.3341435562805873')),
 ('LIBRARIES_AND_DEMO', 596, Decimal('4.2282718120805369')),
 ('PARENTING', 594, Decimal('4.3342929292929293')),
 ('COMICS', 486, Decimal('4.2570781893004115')),
 ('GAME_CASINO', 364, Decimal('4.3685439560439560')),
 ('DATING', 317, Decimal('4.0589905362776025')),
 ('GAME_MUSIC', 224, Decimal('4.1094642857142857')),
 ('TRAVEL', 1, Decimal('3.9300000000000000'))]

## 3)     What is the relationship between price and installations of applications in their categories? Are they professional applications?

In [75]:
%%sql
DROP VIEW IF EXISTS relation CASCADE;

CREATE VIEW relation AS

SELECT price_number,install_number
FROM Price, install
WHERE install.key = Price.key;

 * postgresql://student@/Group1
Done.
Done.

[]

In [76]:
%%sql
SELECT install_number,count(install_number),AVG(price_number) OVER(PARTITION BY install_number) AS avg_price_number
FROM relation
GROUP BY install_number,price_number
ORDER BY install_number DESC
LIMIT 10;

 * postgresql://student@/Group1
10 rows affected.

[(Decimal('5000000000'), 3, Decimal('0E-20')),
 (Decimal('1000000000'), 24, Decimal('0E-20')),
 (Decimal('500000000'), 35, Decimal('0E-20')),
 (Decimal('100000000'), 283, Decimal('0E-20')),
 (Decimal('50000000'), 414, Decimal('0E-20')),
 (Decimal('10000000'), 1, Decimal('2.6600000000000000')),
 (Decimal('10000000'), 2819, Decimal('2.6600000000000000')),
 (Decimal('10000000'), 1, Decimal('2.6600000000000000')),
 (Decimal('5000000'), 1, Decimal('0.49500000000000000000')),
 (Decimal('5000000'), 2803, Decimal('0.49500000000000000000'))]

## 4)     How many applications with top 1% installations are paid ones in a certain category? Choose several categories with largest number of paid installations and do the analysis.

In [77]:
%%sql
DROP VIEW IF EXISTS top1 CASCADE;

CREATE VIEW top1 AS

SELECT is_paid,is_top1percent_by_cate
FROM Price, install
WHERE install.key = Price.key;

 * postgresql://student@/Group1
Done.
Done.

[]

In [78]:
%%sql
SELECT count(is_top1percent_by_cate),
SUM(CASE WHEN is_paid =1 then 1
    ELSE 0 END) AS "Paid",
SUM(CASE WHEN is_paid =0 then 1
   ELSE 0 END) AS "Free"

FROM top1
WHERE is_top1percent_by_cate ='True';

 * postgresql://student@/Group1
1 rows affected.

[(2780, 0, 2780)]